@media (max-width: 810px) {
  body {
    background-color: black;
    margin: 0;
    text-align: center; /* Centrování textu */
  }

  .score_bug {
    font-size: 15px;
    text-align: center;
    color: aliceblue;
  }

  li {
    letter-spacing: 0.2rem;
    text-align: center;
    max-width: 250px;
    margin: 10px auto; /* Centrování blokových prvků */
  }

  .responsive-image {
    max-width: 100%;
    margin: 10px auto; /* Centrování obrázků */
    display: block;
  }

  

  #portrait {
    margin: 0 auto; /* Centrování portrétu */
    display: block;
  }

  .parent {
    margin: 0 auto;
    padding: 0;
    width: 90%;
    background-color: rgba(197, 216, 208, 0.95);
  }

  .parallax-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -100;
    overflow: hidden;
  }

  .parallax-background img {
      width: 100vw;
      min-height: 100vh;
      transition: transform .5s;
      object-fit: cover;
      transform: translateY(-100%);
      
  }
  .parallax-background img {
    transform: translateY(0);
  }

  footer {
    color: white;
  }
}
