body {
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto;
    padding: 0;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    max-width: 1024px;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000;
    transition: color 0.3s ease; /* Přidáno pro plynulý efekt */
    text-align: center;
}

nav ul li a:hover {
    color: #e36403;  /* Zvolil jsem zelenou barvu pro hover */
}

nav ul {
    text-align: center;
    list-style-type: none;
}

li {
    
    text-decoration: none;
    margin: 0 auto;
    font-size: calamp(1.75rem, 8vw, 2.5rem);
}

ul {
    padding: 0;
}

article {
    text-align: center;
}

h1 {
    color: #FF00A3;
    text-shadow: 1px 1px 0 #060606;
    font-size: clamp(1.75rem, 10vw, 3.5rem);
}

h2 {
    color: #FF00A3;
    text-shadow: 1px 1px 0 #060606;
    font-size: clamp(1.25rem, 10vw, 2.5rem);
}

h3 {
    color: #FF00A3;
}

p {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.div2, .div3 {
    text-align: center;
    margin: 2rem 2rem 0 0;
}

.div2 {
    grid-area: 2 / 2 / 3 / 5; 
}

.div3 {
    grid-area: 3 / 2 / 4 / 5;
}

.div4 {
    grid-area: 4 / 2 / 5 / 5;
    text-align: center;
}

#bug {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 3s ease;
}

#bug img {
    width: 50px;
    height: 50px;
}

.score_bug {
    text-align: left;
    margin: 2.5rem;
}

.custom-cursor {
    cursor: crosshair;
}

.pozdrav {
    text-align: center;
    padding: 10px;
    
}

.images {
    text-align: center;
    padding: 20px 0;
}

.responsive-image {
    max-width: 50%;
    height: auto;
    margin: 10px 0;
}



a:hover {
    color: #000000;  /* Zvolil jsem zelenou barvu pro hover */
}


#portrait {
    width: 200px; /* nebo jakoukoli jinou hodnotu podle potřeby */
    border-radius: 50%; /* kulatý portrét */
    
   
    
}



.btn {
    display: inline-block;
    padding: 10px 20px; /* nastavení paddingu pro vytvoření většího tlačítka */
    background-color: #226cb6; /* tmavomodrá barva */
    color: #ecf0f1; /* světlá barva pro text */
    text-decoration: none; /* odstraní podtržení odkazu */
    border-radius: 5px; /* kulaté rohy */
    transition: background-color 0.3s; /* animace při změně barvy */
    font-size: 25px;
}

.btn:hover {
    background-color: #dcbd3d; /* trochu světlejší modrá barva při najetí myši */
}



.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hidden-content {
    display: none;
}


.fade-in {
    animation: fadeInEffect 3s; /* 1s znamená, že animace bude trvat 1 sekundu */
}

@keyframes fadeInEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}




.parallax-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -100;
    overflow: hidden;
}

.parallax-background img {
    width: 100vw;
    min-height: 100vh;
    transition: transform .5s;
    object-fit: cover;
    transform: translateY(-50%);
}



.parent {
    background-color: rgba(197, 216, 208, 0.9);
    text-align: center;
}

.zpet {
    background-color: #226cb6;
    text-decoration: none;
    padding: 10px;
    border-radius: 30%;
    color: azure;
}

footer {
    padding: 20px 0;
    color: #fff;
}